main {
    background-color: #fcbc8118;
}

.welcome {
    color: rgb(104, 102, 102);
}

.cardAcount {
    border: none !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
}

.card-body {
    font-size: 1.1rem;
}

span {
    font-size: 1rem;
    color: #e74c67;
}

.aAcounts {
    text-decoration: none;
    color: #e74c67;
    font-size: 1.1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ce75af;
}

.aLoan {
    text-decoration: none;
    color: #e74c67;
    font-size: 1rem;
    margin: 0;
    padding: 0;

}

.tituloTabla {
    width: 90%;
}

.midle {
    border-top: 1px solid #ce75af;
    border-bottom: 1px solid #ce75af;
}

.end {
    border-bottom: 1px solid #ce75af;
    margin-bottom: 1rem;
}

.amount {
    width: 3.5rem;
    filter: invert(40%) sepia(33%) saturate(6912%) hue-rotate(329deg) brightness(107%) contrast(81%);
}

.form-check-label{
    font-size: 1.3em !important;
}

.table {
    width: 90%;
    font-size: 0.8rem;
}

.card-text {
    font-weight: 600;
}

.headerRow {
    border-bottom: 1px solid coral;
}

.goOut {
    color: black;
}

#staticBackdropLabel {
    font-size: 2rem !important;
    color: #ea5455;
}


@media (min-width: 768px) {
    .table {
        width: 60%;
        font-size: 1rem;
    }
}

/*Boton*/
.btn {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
}

.btn {
    width: 16rem;
    height: 3rem;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    color: white;
}

.btn:hover {
    transform: translateY(3px);
    box-shadow: none;
    color: white;
}

.btn:active {
    opacity: 0.5;
}

/*Titulo de bienvenida*/
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
    text-align: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ea5455;
    letter-spacing: 1px;
    line-height: 2;
    font-size: 3.5rem;
}


/* Button Delete */
.noselect {
    width: 200px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #e62222;
    margin-top: 1rem;
}

.noselect,
.noselect span {
    transition: 200ms;
}

.noselect .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

.icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(160px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconDos {
    font-size: 1.2rem;
    fill: #eee;
    color: white;
}

.noselect:hover {
    background: #ff3636;
}

.noselect:hover .text {
    color: transparent;
}

.noselect:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(25px);
}

.noselect:focus {
    outline: none;
}

.noselect:active .icon i {
    transform: scale(0.8);
}


.checkbox {
    appearance: none;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 1rem;
    border: 1px solid black;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.checkbox::before {
    font-family: "Quicksand", sans-serif;
    position: absolute;
    bottom: -10px;
    left: 1px;
    content: "✔";
    font-size: 40px;
    color: #fb9e42;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.checkbox:checked::before {
    animation: zoom 0.5s ease-in-out;
    transform: scale(1);
}

@keyframes zoom {
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(1.5);
    }

    40% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.2);
    }

    90% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}