main{
    background-color: #fcbc8118; 
}

.welcome{
    color: rgb(104, 102, 102);
}

.cardAcount{
    border: none !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
}

.card-body{
    font-size: 1.1rem ;
}

span{
    font-size: 1rem;
    color: #e74c67;
}

.aAcounts{
    text-decoration: none;
    color: #e74c67;
    font-size: 1.1rem;
}

.midle{
    border-top: 1px solid #ce75af;
    border-bottom: 1px solid #ce75af;
}

.amount{
    width: 3.5rem;
    filter: invert(40%) sepia(33%) saturate(6912%) hue-rotate(329deg) brightness(107%) contrast(81%);
}

.table{
    width: 90%;
    font-size: 0.8rem;
}

.card-text{
    font-weight: 600;
}

.rowBorder{
    border-top: 1px solid #ff7f50;
    border-bottom: 1px solid coral;
}

.headerRow{
    border-bottom: 1px solid coral;
}

.goOut{
    color: black;
}

@media (min-width: 768px) { 
    .table{
        width: 60%;
        font-size: 1rem;
    }
}
