main {
    background-color: #fcbc8118;
}

h2 {
    color: rgb(104, 102, 102);
}

.cardGold {
    width: 19rem;
    height: 11.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: rgb(137,42,146);
background: linear-gradient(156deg, rgba(137,42,146,1) 38%, rgba(207,181,59,1) 87%);
}

.cardTitanium {
    width: 19rem;
    height: 11.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: rgb(137,42,146);
    background: linear-gradient(156deg, rgba(137,42,146,1) 38%, rgba(135,134,129,1) 87%);
}

.cardSilver {
    width: 19rem;
    height: 11.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: rgb(137,42,146);
background: linear-gradient(156deg, rgba(137,42,146,1) 38%, rgba(192,192,192,1) 87%);
}


.info {
    position: absolute;
    top: 5%;
    left: 68%;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0; 
    padding: 5px;
    color: white;
    font-weight: 600;
    background: rgba(0, 0, 0, 0);
    -moz-transition:all ease .8s;
    -webkit-transition:all ease .8s ;
    transition:all ease .8s;
}

.card:hover .info {
    filter: alpha(opacity=0);
    opacity: .9;
}

.cardLogo {
    width: 8rem;
}

.colorCard{
    font-size: 0.6rem;
    color: 	white;
    font-weight: 600;
}

.cardNumber {
    color: white;
    font-weight: 500;
    font-variant-numeric: oldstyle-nums;
    font-size: 1.2rem;
}

.cardName {
    color: white;
    font-weight: 600;
}

.pData {
    font-size: 0.6rem;
    color: white;
    font-weight: 600;
}

span {
    font-size: 0.8rem;
}

.visa {
    width: 3.5rem;
}

.chip {
    width: 2.3rem;
}

.nfc {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    filter: invert(1);
}

.goOut{
    color: black;
}

/*Boton*/
.btn {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
}
  
.btn {
    width: 16rem;
    height: 3rem;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 1.3rem;
    color: white;
}
  
.btn:hover {
    transform: translateY(3px);
    box-shadow: none;
    color: white;
}
  
.btn:active {
    opacity: 0.5;
}