main {
    background-color: #fcbc8118;
}

h2 {
    color: rgb(104, 102, 102);
}

.cardGold {
    width: 19rem;
    height: 11.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: rgb(137, 42, 146);
    background: linear-gradient(156deg, rgba(137, 42, 146, 1) 38%, rgba(207, 181, 59, 1) 87%);
}

.cardTitanium {
    width: 19rem;
    height: 11.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: rgb(137, 42, 146);
    background: linear-gradient(156deg, rgba(137, 42, 146, 1) 38%, rgba(135, 134, 129, 1) 87%);
}

.cardSilver {
    width: 19rem;
    height: 11.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: rgb(137, 42, 146);
    background: linear-gradient(156deg, rgba(137, 42, 146, 1) 38%, rgba(192, 192, 192, 1) 87%);
}

.info {
    position: absolute;
    top: 5%;
    left: 68%;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
    padding: 5px;
    color: white;
    font-weight: 600;
    background: rgba(0, 0, 0, 0);
    -moz-transition: all ease .8s;
    -webkit-transition: all ease .8s;
    transition: all ease .8s;
}

.card:hover .info {
    filter: alpha(opacity=0);
    opacity: .9;
}

.cardLogo {
    width: 8rem;
}

.colorCard {
    font-size: 0.6rem;
    color: white;
    font-weight: 600;
}

.cardNumber {
    color: white;
    font-weight: 500;
    font-variant-numeric: oldstyle-nums;
    font-size: 1.2rem;
}

.cardName {
    color: white;
    font-weight: 600;
}

.pData {
    font-size: 0.6rem;
    color: white;
    font-weight: 600;
}

span {
    font-size: 0.8rem;
}

.visa {
    width: 3.5rem;
}

.chip {
    width: 2.3rem;
}

.nfc {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    filter: invert(1);
}

.goOut {
    color: black;
}

.cardInvalid {
    text-decoration: line-through;
    color: #F53844;
}

.bordeDebit{
    border-top: #ea5455 2px solid;
    width: 90%;
}

.h2 {
    display: inline-block;
    padding: 5px 20px;
    background: rgb(234,84,85);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 2px;
    position: relative;
    top: 10px;
}

.h2::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #fcbc8118;
}

 
.redes2 {
    font-size: 1.2rem;
    background: linear-gradient(#e74c67, #fb9e42);
    -webkit-background-clip: text;
    color: transparent;
}

/*Boton*/
.btn {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
}

.btn {
    width: 16rem;
    height: 3rem;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 1.3rem;
    color: white;
}

.btn:hover {
    transform: translateY(3px);
    box-shadow: none;
    color: white;
}

.btn:active {
    opacity: 0.5;
}

/*Segundo boton */
.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 3px 20px;
    background-color: #d16464;
    border: none;
    font: inherit;
    color: #e8e8e8;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 50px;
    cursor: not-allowed;
    overflow: hidden;
    transition: all 0.3s ease cubic-bezier(0.23, 1, 0.320, 1);
    width: 8rem;
    margin-top: 0.5rem;
}

.button span {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
}

.button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    translate: 0 105%;
    background-color: #F53844;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.button svg {
    width: 32px;
    height: 32px;
    fill: #F53844;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover {
    animation: shake 0.2s linear 1;
}

.button:hover::before {
    translate: 0 0;
}

.button:hover svg {
    fill: #e8e8e8;
}

@keyframes shake {
    0% {
        rotate: 0deg;
    }

    33% {
        rotate: 10deg;
    }

    66% {
        rotate: -10deg;
    }

    100% {
        rotate: 10deg;
    }
}