main{
    background-color: #fcbc8118; 
}

.aAcounts{
    text-decoration: none;
    color: #e74c67;
    font-size: 1.1rem;
}

h4{
    color: rgb(99, 97, 97);
    margin-bottom: 1rem;
}
 
.checkbox {
    appearance: none;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 1rem;
    border: 1px solid black;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.checkbox::before {
    font-family: "Quicksand", sans-serif;
    position: absolute;
    bottom: -10px;
    left: 1px;
    content: "✔";
    font-size: 40px;
    color: #fb9e42;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.checkbox:checked::before {
    animation: zoom 0.5s ease-in-out;
    transform: scale(1);
}

@keyframes zoom {
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(1.5);
    }

    40% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.2);
    }

    90% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

.bi-box-arrow-left{
    color: black !important;
}

.imgCard{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.divCard{
    width: 15rem;
}

.containerTwo{
    margin-top: 2rem;
}

.cotainerGeneral{
    justify-content: space-around;
}

.pCard{
    font-weight: 600;
    color: #504e4e;
}

.selectType {
    margin-left: 2rem;
}

.selectColor {
    margin-top: 1rem;
}

/*Titulo de bienvenida*/
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
    text-align: center;
    width: 90%;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ea5455;
    letter-spacing: 1px;
    line-height: 2;
    font-size: 2.5rem;
}
  
/*Boton*/
.btn {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
}
  
.btn {
    width: 16rem;
    height: 3rem;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 1.3rem;
    color: white;
}
  
.btn:hover {
    transform: translateY(3px);
    box-shadow: none;
    color: white;
}
  
.btn:active {
    opacity: 0.5;
}

@media (min-width: 768px) {
    .imgCard{
        width: 20rem;
        height: 12rem;
    }

    .pCard{
        font-size: 1.5rem;
    }

}

@media (min-width: 1200px) {
    .imgCard{
        width: 23rem;
        height: 15rem;
        margin-top: 0 !important;
    }

    .containerTwo{
        justify-content: space-around;
        align-items: center;
        margin-top: 0rem;
    }

    .divCard{
        width: 30rem;
        margin-top: 0 !important;
        height: 15rem;
    }

    .containerForm{
        padding-left: 1rem;
    }
}

@media (min-width: 1200px){
    .imgCard{
        width: 26rem;
    }
}