main{
    background-color: #fcbc8118; 
}

.card {
	width: 20rem;
    margin: auto;
    background: white;
    position:center;
    align-self: center;
    top: 50rem;
    border-radius: 1.5rem;
    box-shadow: 4px 3px 20px #3535358c;
    display:flex;
    flex-direction: row;
}

.rightside {
    background-color: #ffffff;
	width: 17.5rem;
	border-radius: 1.5rem;
    padding: 1rem 2rem 3rem 3rem;
}

p {
    display:block;
    font-size: 1.1rem;
    font-weight: 400;
    margin: .8rem 0;
}

.span{
    letter-spacing: 0.2rem;
    text-decoration: underline;
    color: #ea5455;
}

.inputbox {
    color:#030303;
	width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: 'Roboto', sans-serif;
    color: #615a5a;
    font-size: 1.1rem;
    font-weight: 500;
    outline:none;
}

.button{
    background: linear-gradient(135deg, #ce75af 0%, #fcbc81 100%);
    padding: 15px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 10px;
    width:100%;
    letter-spacing: .11rem;
    outline:none;
}

.button:hover{
	transform: scale(1.05) translateY(-3px);
    box-shadow: 3px 3px 6px #38373785;
}

.goOut{
    color: black;
}

.paymentsLoans{
    margin-top: 1rem;
}

.divRadio {
    gap: 2rem;
}

/*Titulo de bienvenida*/
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
    text-align: center;
    width: 90%;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ea5455;
    letter-spacing: 1px;
    line-height: 2;
    font-size: 2.5rem;
}

.checkbox {
    appearance: none;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 1rem;
    border: 1px solid black;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.checkbox::before {
    font-family: "Quicksand", sans-serif;
    position: absolute;
    bottom: -10px;
    left: 1px;
    content: "✔";
    font-size: 40px;
    color: #fb9e42;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.checkbox:checked::before {
    animation: zoom 0.5s ease-in-out;
    transform: scale(1);
}

@keyframes zoom {
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(1.5);
    }

    40% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.2);
    }

    90% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

@media only screen and (min-width: 768px) {
    .rightside{
        width: 25rem;
    }

    .button {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1000px) {
    .card{
        flex-direction: column;
        width: auto;
    }

    .rightside{
        border-bottom-left-radius: 1.5rem;
        padding:0.5rem 3rem 3rem 2rem;
        border-radius: 1.5rem;
        width: 35rem;
    }
}