main{
    background-color: #fcbc8118; 
}

.card {
	width: 20rem;
    margin: auto;
    background: white;
    position:center;
    align-self: center;
    top: 50rem;
    border-radius: 1.5rem;
    box-shadow: 4px 3px 20px #3535358c;
    display:flex;
    flex-direction: row;
}

.rightside {
    background-color: #ffffff;
	width: 17.5rem;
	border-radius: 1.5rem;
    padding: 1rem 2rem 3rem 3rem;
}

p {
    display:block;
    font-size: 1.1rem;
    font-weight: 400;
    margin: .8rem 0;
}

.inputbox {
    color:#030303;
	width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: 'Roboto', sans-serif;
    color: #615a5a;
    font-size: 1.1rem;
    font-weight: 500;
    outline:none;
}

.button{
    background: linear-gradient(135deg, #ce75af 0%, #fcbc81 100%);
    padding: 15px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: 10px;
    width:100%;
    letter-spacing: .11rem;
    outline:none;
}

.button:hover{
	transform: scale(1.05) translateY(-3px);
    box-shadow: 3px 3px 6px #38373785;
}

.goOut{
    color: black;
}

.paymentsLoans{
    margin-top: 1rem;
}

/*Titulo de bienvenida*/
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
    text-align: center;
    width: 90%;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ea5455;
    letter-spacing: 1px;
    line-height: 2;
    font-size: 2.5rem;
}

@media only screen and (min-width: 768px) {
    .rightside{
        width: 25rem;
    }
}

@media only screen and (min-width: 1000px) {
    .card{
        flex-direction: column;
        width: auto;
    }

    .rightside{
        border-bottom-left-radius: 1.5rem;
        padding:0.5rem 3rem 3rem 2rem;
        border-radius: 1.5rem;
        width: 35rem;
    }
}

/*RADIOS*/
.form {
    --background: rgba(255, 255, 255, 0.753);
    --text: #2c2c2c;
    --radio: #ce75af;
    --radio-checked: #fb9e42;
    --radio-size: 23px;
    --width: 90% !important;
    --height: auto;
    --border-radius: 10px;
    background: var(--background);
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    color: var(--text);
    position: relative;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    padding: 20px 20px;
    display: grid;
    grid-template-columns: auto var(--radio-size);
    align-items: center;
}

.divRadio{
    width: 8rem;
}
  
.form label {
    cursor: pointer;
}
  
.form input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: var(--radio-size);
    width: var(--radio-size);
    outline: none;
    margin: 0;
    cursor: pointer;
    border: 2px solid var(--radio);
    background: transparent;
    border-radius: 50%;
    display: grid;
    justify-self: end;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    transition: border .5s ease;
}
  
.form input[type="radio"]::before, .form input[type="radio"]::after {
    content: "";
    display: flex;
    justify-self: center;
    border-radius: 50%;
}
  
.form input[type="radio"]::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background);
    z-index: 1;
    opacity: var(--opacity, 1);
}
  
.form input[type="radio"]::after {
    position: relative;
    width: calc(100% /2);
    height: calc(100% /2);
    background: var(--radio-checked);
    top: var(--y, 100%);
    transition: top 0.5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
}
  
.form input[type="radio"]:checked {
    --radio: var(--radio-checked);
}
  
.form input[type="radio"]:checked::after {
    --y: 0%;
    animation: stretch-animate .3s ease-out .17s;
}
  
.form input[type="radio"]:checked::before {
    --opacity: 0;
}
  
.form input[type="radio"]:checked ~ input[type="radio"]::after {
    --y: -100%;
}
  
.form input[type="radio"]:not(:checked)::before {
    --opacity: 1;
    transition: opacity 0s linear .5s;
}
  
@keyframes stretch-animate {
    0% {
      transform: scale(1, 1);
    }
  
    28% {
      transform: scale(1.15, 0.85);
    }
  
    50% {
      transform: scale(0.9, 1.1);
    }
  
    100% {
      transform: scale(1, 1);
    }
}