<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../Styles/style.css">
    <link rel="stylesheet" href="../Styles/accounts.css">
    <title>Accounts</title>
</head>
<body>
    <div id="app">
        <header class="cabezera">
            <nav class="navbar navbar-expand-md">
                <div class="container-fluid">
                    <a class="navbar-brand fs-1" href="../../index.html"><img class="logotip" src="../Images/Logotip.jpg" alt="logotip"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-md-end" id="navbarNav">
                        <ul class="navbar-nav align-items-end ">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Accounts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Loans</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Transactions</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link button-85" href="#"><i class="bi bi-box-arrow-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <h1 class="m-4 text-center welcome">Welcome {{name}}!</h1>
            <div class="d-flex justify-content-center flex-wrap gap-4">
                <div v-for="account of accounts" class="card cardAcount" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Account number: {{account.number}} </h5>
                      <h6 class="card-subtitle mt-2 text-body-secondary">Amount</h6>
                      <p class="card-text"> $ {{account.balance}}</p>
                      <p class="card-text"><span>Creation date</span>: {{account.creationDate}}</p>
                      <a :href="`./account.html?id=${account.id}`" class="aAcounts m-0">See yours moviments <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="mt-5 d-flex flex-column align-items-center">
                <h3 class="welcome mb-3">Acquired Loans</h3>
                <table v-if="loans.length > 0" class="table">
                    <thead>
                        <tr class="headerRow">
                            <th>Type</th>
                            <th>Amount</th>
                            <th class=" text-center">N° Quotas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="rowBorder" v-for="loan of loans">
                            <td>{{ loan.name }}</td>
                            <td>{{ loan.amount }}</td>
                            <td class="text-center">{{ loan.payments }}</td>
                        </tr>
                    </tbody>
                </table>
                <h4 v-else>You didn't apply for any loan</h4>
            </div>
        </main>
        <footer class="d-flex flex-column flex-md-row justify-content-around align-items-center">
            <div class="d-flex gap-3">
                <a class="redes"><i class="bi bi-whatsapp"></i></a>
                <a class="redes"><i class="bi bi-linkedin"></i></a>
                <a class="redes"><i class="bi bi-instagram"></i></a>
                <a class="redes"><i class="bi bi-twitter-x"></i></a>
            </div>
            <div>
                <p class="p m-0">&copy;2023 Bank Nostrum</p>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../Scripts/accounts.js"></script>
</body>
</html>