<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/accounts.css">
    <title>Accounts</title>
</head>
<body>
    <div id="app">
        <header class="cabezera">
            <nav class="navbar navbar-expand-md">
                <div class="container-fluid">
                    <a class="navbar-brand fs-1" href="../index.html"><img class="logotip" src="../images/logotip.jpg" alt="logotip"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-md-end" id="navbarNav">
                        <ul class="navbar-nav align-items-end ">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Accounts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./cards.html">Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./loan-application.html">Loans</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./transfers.html">Transactions</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link button-85" href="#" @click="logout"><i class="goOut bi bi-box-arrow-left"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="title">
                <h1>Welcome {{name}}!</h1>
            </div>
            <div class="d-flex justify-content-center flex-wrap gap-4">
                <div v-for="account of accounts" data-aos="flip-left" class="card cardAcount align-items-center" style="width: 18rem;">
                    <div class="card-body">
                        <div class="d-flex align-items-center pt-2 pb-2 justify-content-between">
                            <img src="../images/account.png" alt="account" class="amount">
                            <p class="card-text">{{account.number}} </p>
                        </div>
                        <div class="d-flex align-items-center pt-2 pb-2 justify-content-between midle">
                            <div class="d-flex flex-column align-items-center ">
                                <img src="../images/amount.png" alt="amount" class="amount">
                                <span>Balance</span>
                            </div>
                            <p class="card-text"> $ {{account.balance}}</p>
                        </div>
                        <div class="d-flex align-items-center pt-2 pb-2 justify-content-between pb-2 end">
                            <div class="d-flex flex-column align-items-center">
                                <img src="../images/calendar.png" alt="calendar" class="amount">
                                <span>Creation</span>
                            </div>
                            <p class="card-text">{{account.creationDate}}</p>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <a :href="`./account.html?id=${account.id}`" class="aAcounts">See yours moviments <i class="bi bi-chevron-right"></i></a>
                            <button class="noselect" @click="deleteAccount(account.id)"><span class="text">Delete account</span><span class="icon"><i class="bi bi-x-lg iconDos"></i></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center pt-4">
                <button type="button" class="btn" v-if="accounts.length < 3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create New Account <i class="bi bi-chevron-right"></i></button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h3 class="modal-title fs-5" id="staticBackdropLabel">Select the type of account.</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form d-flex justify-content-around w-100">
                            <div class="d-flex gap-3">
                                <label class="form-check-label" for="current" > Current</label>
                                <input class="form-check-input" type="radio" value="CURRENT" v-model="accountType" id="current" name="account">
                            </div>
                            <div class="d-flex gap-3">
                                <label class="form-check-label" for="saving"> Saving </label>
                                <input class="form-check-input" type="radio" value="SAVING" v-model="accountType" id="saving" name="account">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex flex-column align-items-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="createAccount">Create Account</button>
                    </div>
                </div>
                </div>
            </div>
            <div class="mt-5 d-flex flex-column align-items-center">
                <div class="d-flex justify-content-around tituloTabla">
                    <h3 class="welcome mb-4">Acquired Loans</h3>
                    
                </div>
                <table v-if="loans.length > 0" class="table">
                    <thead>
                        <tr class="headerRow">
                            <th>Type</th>
                            <th>Amount</th>
                            <th class=" text-center">N° Dues</th>
                            <th class="text-center">Dues made</th>
                            <th class="text-center">Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="rowBorder" v-for="loan of loans">
                            <td>{{ loan.name }}</td>
                            <td>${{ loan.amount }}</td>
                            <td class="text-center">{{ loan.payments }}</td>
                            <td class="text-center">{{loan.paymentsMade}}</td>
                            <td v-if="loan.paymentsMade < loan.payments" class="text-center d-flex justify-content-center gap-2"> <input type="radio" name="loan" id="loan"><a :href="`./pay-loan.html?id=${loan.id}`" class="aLoan">Pay<i class="bi bi-chevron-right"></i></a></td>
                            <td class="text-center" v-else>Loan paid!</td>
                        </tr>
                    </tbody>
                </table>
                <h4 v-else>You didn't apply for any loan</h4>
            </div>
        </main>
        <footer class="d-flex flex-column flex-md-row justify-content-around align-items-center">
            <div class="d-flex gap-3">
                <a class="redes"><i class="bi bi-whatsapp"></i></a>
                <a class="redes"><i class="bi bi-linkedin"></i></a>
                <a class="redes"><i class="bi bi-instagram"></i></a>
                <a class="redes"><i class="bi bi-twitter-x"></i></a>
            </div>
            <div class="d-flex align-items-center justify-content-center gap-2">
                <p class="p m-0">&copy;2023 Bank Nostrum -</p>
                <a href="../pages/manager.html" class="redes2"><i class="bi bi-file-earmark-lock2"></i></a>               
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.all.min.js"></script>
    <script src="../scripts/accounts.js"></script>
</body>
</html>