<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/account.css">
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <title>Account</title>
</head>
<body>
    <div id="app">
        <header class="cabezera">
            <nav class="navbar navbar-expand-md">
                <div class="container-fluid">
                    <a class="navbar-brand fs-1" href="../index.html"><img class="logotip" src="../images/logotip.jpg" alt="logotip"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-md-end" id="navbarNav">
                        <ul class="navbar-nav align-items-end ">
                            <li class="nav-item">
                                <a class="nav-link" href="./accounts.html">Accounts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./cards.html">Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./loan-application.html">Loans</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./transfers.html">Transactions</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link button-85" href="#" @click="logout"><i class="goOut bi bi-box-arrow-left"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="d-flex flex-column align-items-center">
                <div class="d-flex flex-column flex-md-row mt-3 gap-md-5 align-items-md-center">
                    <div class="d-flex align-items-center gap-5 flex-md-column gap-md-1 containerUser">
                        <img src="../images/account.png" alt="account" class="amountUser">
                        <p class="card-text">{{account.number}} </p>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex align-items-center gap-5 justify-content-md-between containerAmount">
                            <div class="d-flex flex-column align-items-center ">
                                <img src="../images/amount.png" alt="amount" class="amount">
                                <span>Balance</span>
                            </div>
                            <p class="card-text"> $ {{account.balance}}</p>
                        </div>
                        <div class="d-flex align-items-center gap-4 pb-4 justify-content-md-between containerCreation">
                            <div class="d-flex flex-column align-items-center">
                                <img src="../images/calendar.png" alt="calendar" class="amount">
                                <span>Creation</span>
                            </div>
                            <p class="card-text-data">{{account.creationDate}}</p>
                        </div>
                    </div>
                </div>
                <div class="mt-4 accountDetail">
                    <h3>Summary</h3>
                    <table class="table">
                        <thead>
                            <tr class="headerRow">
                                <th>TYPE</th>
                                <th>AMOUNT</th>
                                <th>BALANCE</th>
                                <th>DATE</th>
                                <th>DESCRIPTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="rowBorder" v-for="transaction of account.transactions">
                                <td v-if="transaction.type == 'DEBIT'" class="debit">{{ transaction.type }}</td>
                                <td v-else class="credit">{{ transaction.type }}</td>
                                <td>{{ transaction.amount }}</td>
                                <td>{{ transaction.balance }}</td>
                                <td> {{ dateFormat(transaction.date) }}</td>
                                <td>{{ transaction.description }}</td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <footer class="d-flex flex-column flex-md-row justify-content-around align-items-center">
            <div class="d-flex gap-3">
                <a class="redes"><i class="bi bi-whatsapp"></i></a>
                <a class="redes"><i class="bi bi-linkedin"></i></a>
                <a class="redes"><i class="bi bi-instagram"></i></a>
                <a class="redes"><i class="bi bi-twitter-x"></i></a>
            </div>
            <div class="d-flex align-items-center justify-content-center gap-2">
                <p class="p m-0">&copy;2023 Bank Nostrum -</p>
                <a href="../pages/manager.html" class="redes2"><i class="bi bi-file-earmark-lock2"></i></a>               
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/JavaScript" src="https://MomentJS.com/downloads/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.all.min.js"></script>
    <script src="../scripts/account.js"></script>
</body>
</html>